.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  border: 2px solid white;
}

li {
  margin: 10px 0;
}
.emFinished{
  display: flex;
}
.human-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -600px;
  top: -1000px;
}

.head {
  width: 50px;
  height: 50px;
  background-color: #ffe0bd;
  border-radius: 50%;
  margin-bottom: 10px;
}

.torso {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.body {
  width: 40px;
  height: 40px;
  background-color: #ffcc99;
  margin: 0 10px;
}

.arm {
  width: 40px;
  height: 40px;
  background-color: #ffcc99;
}

.legs {
  display: flex;
  margin-bottom: 10px;
}

.leg {
  width: 40px;
  height: 40px;
  background-color: #ffcc99;
  margin: 0 10px;
}

.feet {
  display: flex;
}

.foot {
  width: 40px;
  height: 40px;
  background-color: #ffe0bd;
  margin: 5px 10px;
}
.modelFinisher{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  width: 80%;
}
.modelName{
  color: white;
}
.finished-models{
  position: relative;
  left: 1200px;
  top: -600px;
}
